.signButton {
  color: white;
  border-width: 2px;
  border-color: whitesmoke;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.signButton:hover {
  color: black;
}

.signButton:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.signButton:hover:after {
  transform: skewX(-45deg) scale(1.2, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
